@page
@model BulkyWebRazor_Temp.Pages.Categories.DeleteModel

<form method="post">
    <input asp-for="Category.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr/>
        </div>
       <div class="mb-3 row p-1">
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <input asp-for="Category.DisplayOrder" disabled class="form-control" />
            
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control" >Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/categories/index" class="btn btn-secondary border  form-control">
                    Back to List
                </a>
            </div>
        </div>


    </div>
</form>
